
/****** This is the container that holds the form and cart *****/
.shoppingCartCheckoutPlusActiveCart{
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding-left: 4rem;
  padding-right:4rem;
}
.checkoutForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  border: 2px solid black;
  border-radius: .5rem;
  padding: 1rem;
  background-color: rgb(245, 245, 245);
  width: 100%;
  transition: all 2s;
  padding-top:0;
  
}
.basicInfoNames{
  display: flex;
  flex-direction: row;
  gap: 6rem;
}

.basicInfoNames input{
  width: 135%;
}

.basicInfoEmail input{
    width: 42.5%;

}
.checkoutForm input{
  background-color: lightgray;
  padding: .3rem;
  padding-left: .6rem;
  border-radius: .4rem;
  
  }
.basicInfoNames input::placeholder{
 color:rgb(125, 125, 125);
 
}
.checkoutBasicInfo{
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.checkoutPaymentInformation{
  display: flex;
  flex-direction: column;  
}
.checkoutPaymentInformationInputs{
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
  gap:1rem;
  transition: all 2s;
  padding-bottom: 20px;
}

/**** Cart stylings*****/
.Cart{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  /* height: 20.8rem; */
  border-radius: .5rem;
  background-color: rgb(245, 245, 245);
  width: 15rem;
  height: 24rem;
  padding: 1rem;
  padding-top: 0;
  overflow:auto;
  min-width: 13rem;
}
.icon-container{
  padding-top: 1.4rem;
}



.titleAandAcceptedCards{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}



@media screen and (max-width: 913px) {
.shoppingCartCheckoutPlusActiveCart{
  justify-self: start; 
  align-items: start;
}

  .basicInfoNames{
  display: flex;
  flex-direction: column;
   gap: 1rem;
  }
  .checkoutPaymentInformationInputs{
  display: flex;
  flex-direction: column;
} 
.basicInfoNames input{
  width: 80%
}
.basicInfoEmail input{
    width: 80%;
}
.creditCardNumberInput{
  width:80%;
}
.checkoutCreditCardExpiryDate{
  width:40%;
}
.checkoutCreditCVC{
  width:15%;
}
}
@media screen and (max-width: 664px) {

.shoppingCartCheckoutPlusActiveCart{
  flex-direction:column-reverse;
 justify-self: center; 
  align-items: center;
  gap: 1rem;
}
.checkoutForm{
  width: auto;
}
.Cart{
  width: auto;
}

}



.cartCard{
  display: flex;
  flex-direction: column;
  border:1px solid black;
  background-color: rgb(220, 220, 220);
  padding-left: .5rem;
  padding-right: .5rem;
  border-radius: .4rem;
  margin:1rem;
  min-width: 10rem;
}
.cardCardRows{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cartButtons{
width: 30%;
padding-left: .4rem;
padding-right: .4rem;
border-radius: .4rem;
background-color: rgb(207, 207, 207);
}

.cartButtons:hover{
cursor: pointer;
background-color: gray;
border-radius: .4rem;
padding-left: .4rem;
padding-right: .4rem;
}

.successfullPurchase{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerItemsInReceipt{
   display: flex;
  flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    color: #999;
    /* margin-bottom: 8px; */
    /* gap: 0.5rem; */
}
.ItemsInReceipt{
   display: flex;
  flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
    color: #999;
    /* margin-bottom: 8px;
    gap: 0.5rem; */
}

.bookRecommendationsContainer{
  display: block;
  
}

.bookCardsRecommendations{
  display: flex;       
    flex-wrap:wrap;   
    justify-content: center;
  gap: 1.5rem;
  
}

/******** footer ***********/
footer{
  background-color: #f1f1f1;
  text-align: center;
  /* padding: 5rem; */
}

.site-footer {
  background: linear-gradient(135deg, #111, #1c1c1c);
  color: #fff;
  padding: 3rem 1rem;
  text-align: center;
  margin-top: 5rem;
}

.footer-content {
  max-width: 1200px;
  margin: auto;
}

.footer-logo {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.footer-line {
  width: 60px;
  height: 2px;
  background: #fff;
  opacity: 0.3;
  margin: 0 auto 1.2rem;
}

.footer-text {
  font-size: 0.85rem;
  letter-spacing: 0.15em;
  opacity: 0.6;
}

.bringToFront{
  z-index: 400;
}